@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Epilogue", sans-serif;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  @apply text-white bg-black;
}

#profile {
  transition: 0.6s;
  transition-property: all;
  z-index: 10;
  width: max-content;
  position: fixed;
}
.profileleft {
  transform: scale(0.63) translateY(-34vh);
  margin-right: 62%;
}
#profile div {
  transition: 1s;
}
.profileleft div {
  @apply gap-x-4;
}
#profile div .profileText {
  transition: 1s;
}
#profile div .profileText div {
  transition: 1s;
  max-width: max-content;
}
@media screen and (min-width: 640px) {
  .profileleft div #profileText {
    right: 50%;
    bottom: -4.5rem;
  }
  .profileleft div #profileText div {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #profile div img {
    margin-right: 15rem;
  }
  .profileText {
    position: fixed;
    right: -2rem;
    bottom: 50%;
    transform: translateY(50%);
  }
}

@media screen and (max-width: 640px) {
  #profile {
    position: relative;
  }
  .profileleft {
    position: relative;
    transform: scale(1);
    margin: auto;
  }
}

body {
  animation: onload 1.5s;
  transition: 1s;
}
@keyframes onload {
  0% {
    opacity: 0;
    margin-top: 2rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.verticalNavActive span {
  width: 100% !important;
}

.verticalNavLink span {
  position: absolute;
  transition: 0.2s;
  width: 0%;
  height: 0.125rem;
  left: 0;
  top: 100%;
  background-color: lightblue;
}
.verticalNavLink {
  position: relative;
}
